.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.grid {
  display: grid;
  gap: 0.6rem;

  grid-template-columns: repeat(2, 1fr);
}

/* tablette */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* desktop */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}