VITE_API_URL=http://localhost:3000
VITE_INGREDIENT_SEARCH_API_URL=http://localhost:3000/api/ingredients/search
VITE_RECIPE_API_URL=http://localhost:3000/api/recipes
VITE_USER_API_URL=http://localhost:3000/api/users
