.adminHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1F1D1E;
    color: white;

    display: flex;
    align-items: center;
  
    .toggleButton {
      background: none;
      border: none;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
      margin-right: 1rem;
    }
  
    h1 {
      margin: 0;
      font-size: 1.5rem;
      color: #C9A45C;
    }
  
    button {
      padding: 0.5rem 1rem;
      background-color: #8E1F2F;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  
      &:hover {
        background-color: #4A3428;
      }
    }
  }